<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
   
</head>
<body>
       
    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post">
                    <input type="hidden" class="form-control" id="id" name="id" value="<%= airlines.idairlines %>">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Şirket İsmi</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name" value="<%= airlines.name %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="country" class="col-sm-2 col-form-label">Ülke</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="country" name="country" value="<%= airlines.country %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="resim" class="col-sm-2 col-form-label">Resim</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="resim" name="resim" value="<%= airlines.resim %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="icao" class="col-sm-2 col-form-label">ICAO</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="icao" name="icao"  value="<%= airlines.icao %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="iata" class="col-sm-2 col-form-label">IATA</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="iata" name="iata"  value="<%= airlines.iata %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>