<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>   
</head>
<body>       
    <%- include('../partials/nav') %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="alert alert-warning">
                    <p></p>
                    <p>
                        <b>Nolu Uçuşu olan :<%= passenger.flight_number %></b> <br>
                         <b><%= passenger.first_name %></b> <b> <%= passenger.last_name %></b> adlı Müşteriyi Silmek İstiyor musunuz?
                    </p>
                    <form method="post">
                        <input type="hidden" name="id" id="id" value="<%=passenger.idpassenger%>">
                        <button type="submit" class="btn btn-danger">Evet</button>
                        <a href="/admin/passenger" class="btn btn-primary">Hayır</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>